<link rel="stylesheet" href="/css/chat.css">
<section class="chat" id="user-chat-box"> 
    <ul class="chat-list">
        <li class="other-message">
            other
        </li>
        <li class="self-message">
            self
        </li>
    </ul>
    <div id="chat-input">
        <input type="text" name="msg" id="chat-message-input">
        <input type="submit" value="Send" id="send-message">
    </div>
</section>