<link rel="stylesheet" href='css/home.css'>
<h1>This is Our Home</h1>
<section>
    <div id="main-container">
    <% if(locals.user){ %>
        <section id="post-container">
            <div id="post-form">
                <h4>Add Post</h4>
                <form action="/posts/add-post" method="POST" id="new-post-form">
                    <textarea id="text-input" name="content" cols="100" rows="5" placeholder="Add text here..." required></textarea>
                    <input type="submit" value="Add Post">
                </form>
            </div>
            <div id="post-item-container">
                <ul class="post">
                    <% for(post of posts) { %>
                        <%- include('_post.ejs') -%>
                    <% } %>
                </ul>
            </div>
        </section>
        <section id="user-container">
            <h1>Freinds</h1>
            <% for(u of users){ %> 
                <% if(u.id != locals.user.id) { %> 
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>
                <% } %>
            <% } %>
        </section>
       
        </div>
        <div style="height: 100px;"></div>
        
    <% } %>
<script src="js/home_post.js"></script>
<script src="js/toggle_like.js"></script>
<script>
    $('.toggle-like-button').each(function()
    {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
