<link rel="stylesheet" href='css/home.css'>
<h1>This is Our Home</h1>
<% if(locals.user){ %>
    <div id="post-form">
        <h4>Add Post</h4>
        <form action="/posts/add-post" method="POST">
            <textarea name="content" cols="30" rows="5" placeholder="Add text here..." required></textarea>
            <input type="submit" value="Add Post">
        </form>
    </div>

    <ul>
        <% for(post of posts) { %>
        <li>
            <div><%= post.content %></div><div><%= post.user.name></div>
        </li>
        <% } %>
    </ul>
<% } %>