body
{
    background-color:lightgray;
    #post-form
    {
        text-align: center;
    }
    h1
    {
        text-align: center;
    }
    ul
    {
        margin: 0;
        margin-left: 40px;
        padding: 0;
        list-style:none;
        li
        {
            display: flex;
            justify-content: flex-start;
            font-size: 1.5rem;
            color:black;
            div
            {
                width: 50%;
            }
        }
    }
    
}