<div>
    <h1>Hi <%= comment.user.name %></h1>
    <br>
    <br>
    <p>New comment <strong> <%= comment.content %></strong> published</p>
    <br>
    <br>
    <p style="color: aquamarine;">Thank you</p>
</div>